@import "./tailwind.css";

.react-annotation-tool-container {
  @apply mmi:flex mmi:flex-col mmi:gap-2 mmi:w-full mmi:h-full;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- THIS IS THE FIX FOR THE DRAWING TOOLS --- */
/* This ensures that the container Fabric.js generates around the canvas 
   can always receive mouse clicks and drags. */
.canvas-container {
  pointer-events: all;
}
